@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.bandera-colombia {
    width: 55px;
    height: auto;
    margin-left: 8px;
    vertical-align: middle;
  }
  
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #004884;;
}


.menu {
    height: 80px;
     
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
     margin: 0;
    padding: 0;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #007BFF; /* color del subrayado */
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color:#004884;;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}
 
.bandera-Colombia {
    width: 50px;               /* Ajusta el tamaño de la bandera */
    height: auto;              /* Mantiene la proporción de la imagen */
    position: fixed;           /* Fija la imagen en la pantalla */
    top: 10px;                 /* Ajusta el espacio desde el borde superior */
    right: 60px;               /* Ajusta el espacio desde el borde derecho */
    z-index: 999;              /* Asegura que esté por encima de otros elementos */
  }

/* SUBMENÚ dentro de Servicios */
.menu nav ul li ul {
  position: absolute;
    top: 100%;
    left: 0;
    border-radius: 20px;
    width: 220px;
    height: auto;
    background: #f6f6f6;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease, visibility 300ms ease;
    display: block;
    flex-direction: column;
    z-index: 1000;
}

.menu nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

.menu nav ul li ul::before {
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(214, 214, 214);
  position: absolute;
  top: -12px;
  left: 20px;
}

.menu nav ul li ul li {
  height: auto;
  margin: 0;
  width: 100%;
}

.menu nav ul li ul li a {
  display: block;
  padding: 10px 20px;
  color: #004884;
  font-size: 16px;
  transition: all 300ms ease;
  text-decoration: none;
  white-space: nowrap;
}

.menu nav ul li ul li a:hover {
  background: #0074C7;
  color: white;
  transform: scale(1.2);
  padding-left: 19px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*Portada*/

#inicio .carrusel {
    position: relative;
    height: 80vh;
    padding: 20px;
    background-color: #e5e5e5;
    box-sizing: border-box;
}

#inicio .carrusel .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 50%;
    padding: 20px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
#inicio .carrusel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    border-radius: 20px;
}

#inicio .carrusel .info h1 {
    font-size: 60px;
    font-weight: bold;
}

#inicio .carrusel .info h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

#inicio .carrusel .info button {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: #a7c7e7;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}
/* Ajuste para centrar mejor el contenido del carrusel */
#inicio .gallery {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1600px; /* Limita el ancho máximo para pantallas muy grandes */
    border-radius: 20px; /* Bordes redondeados elegantes */
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3); /* Sombra sutil */

}

#inicio .gallery-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#inicio .gallery-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



/*Contenedor - contenido del articulo*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;    
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #004884;;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
}

article h1 b{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 32.5px;
}
article summary{
    display: flex;
    align-items: center;
}

article summary h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 26.5px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article ol, ul{
    position: relative;
    margin-top: 20px;
    left: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article img{
    display: block;
    margin: auto;
    width: 80%;
    height: 16%;
}

/*Desplegable*/
details summary {
    cursor: pointer;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
    color: #004884;
    display: flex;
    align-items: center;
}

details summary::before {
    content: "▶";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    font-size: 18px;
}

details[open] summary::before {
    transform: translateY(-50%) rotate(90deg);
}

.summary-title {
    font-size: 26px;
    line-height: 1.2;
}


/*Aside de los articulos de relacionados posicion derecha*/

.container-aside aside{
  width: 320px;
  border-right: 6px;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #004884;;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}



/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #b9b8b8;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 20%;
}
.container-footer footer .redes-footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
.container-footer footer .redes-footer--left{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    padding-left: 0;
}
.container-footer footer .redes-footer--right{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    padding-left: 0;
}

.container-footer footer .redes-footer--left .icon-redes-footer,
.redes-footer--right .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer--left .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}
.redes-footer--right .fa-threads:hover{
    background: #000000; /* color de fondo típico de Threads */
    color: #ffffff;      /* color del ícono al hacer hover */
}

footer .redes-footer--left .fa-google-plus-g:hover,.redes-footer--right .fa-google-plus-g:hover{
    background: #DE4C34;
    color: #fff;
}
.redes-footer--right .fa-tiktok:hover{
    background: #010101; /* fondo negro característico de TikTok */
    color: #fff;          /* ícono blanco al pasar el mouse */
}
.redes-footer--right .fa-twitter:hover{
    background: #1DA1F2; /* color oficial de Twitter */
    color: #fff;         /* ícono blanco sobre fondo azul */
}
footer .redes-footer--left .fa-instagram:hover,.redes-footer--left .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 4px;
    background: linear-gradient(to right, #FFD700 33.3%, #0033A0 33.3% 66.6%, #CE1126 66.6%);
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #313030;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}


@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color:  #004884;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}

.imagen-articulo {
    display: block;
    margin: 40px auto;
    max-width: 80%;
    height: auto;
    transition: all 0.3s ease-in-out;
}
